<section class="bg-zinc-900 p-20 my-4 rounded-xl text-center">
    <h2 class="text-3xl font-bold my-5">About us</h2>
    <p class="text-zinc-300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus accusamus repellendus nostrum quam quod odit quaerat est dolores reiciendis ea.</p>
</section>